body{
    margin: 0;
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
header::after{
    content: "MOBITEL";
}
header{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
main{
    display: grid;
    
}